body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul {
  padding: 0;
}

.demo-container,
.app-container {
  display: flex;
  margin-bottom: 20px;
}
.demo-container {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}

.app-container {
  padding: 50px;
  flex-direction: column;
  justify-content: center;
}

.demo {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  align-items: center;
}
.demo-code {
  font-size: 12px;
  padding: 10px;
  background-color: #eee;
  margin-bottom: 40px;
  height: 310px;
  align-self: stretch;
}
.subtitle {
  font-size: 20px;
  margin: 20px 0;
}
.title {
  font-size: 24px;
  margin-bottom: 10px;
}
