.rl-pagination-base {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.rl-pagination {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.rl-page-link-base,
.rl-page-link-base:hover {
  text-decoration: none;
}
.rl-page-link-base--active {
  cursor: default;
}
.rl-page-link-base--disabled {
  pointer-events: none;
  cursor: default;
}
.rl-page-link {
  padding: 0.2rem 0.5rem;
  color: #135bb9;
  margin: 0 5px;
}
.rl-page-link--active {
  background-color: #dee2e6;
  border-radius: 15%;
  color: #444444;
}
.rl-page-link:hover {
  color: #6688b6;
}

.rl-page-link--disable {
  color: #6c757d;
}
